# Node
node_modules/
dist/
.nx/
.svelte-kit/

# Go
*.test
apps/api/**/bootstrap
apps/api/**/*.zip
go.work.sum

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
!infra/terraform/stacks/*/terraform.tfvars.example
tfplan

# Local env
.env
.env.local

# Editors / OS
.DS_Store
.idea/
*.swp
